{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Delete Category</h3>

<div class="row card-panel gray lighten-5">
    <form class="col s12" method="DELETE" action="{{ url_for('delete_category', category_id=category.id) }}">
       <!-- category name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <input name="category_name" id="category_name" value="{{ category.category_name }}" minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="category_name">Category Name</label>
        </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Delete Category <i class="fas fa-delete right"></i>
                </button>
            </div>    
        </div>
    </form>
</div>

{% endblock %}